<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/assets/style.css' }}">
</head>
<body>
    <h1>{{ heading }}</h1>
    <hr>
        {% if todos[0] %}
    <h3>Search Results: To-Do List</h3>  
    <table>
        <tr id="row">
            <td class="status">Status</td>
            <td class="name">Task Name</td>
            <td class="desc">Task Description</td>
            <td class="date">Date</td>
            <td class="priority">Project</td>
        <td class="func">Delete</td>
        <td class="func">Modify</td>    
        </tr>
        {% for todo in todos %}
        <tr class="datas">
            <td><a href="./done?_id={{ todos['_id'] }}"><input type="image" src="static/images/{{ todos['done'] }}.png" alt="Submit ME" ></a></td>
            <td class="name">{{ todos["name"] }}</td>
             <td class="desc">{{ todos["desc"] }}</td>
             <td class="date">{{ todos["date"] }}</td>
             <td class="priority">{{ todos["priority"] }}</td>
             <td class="func1"><a href="./remove?_id={{ todos['id'] }}"><button type="submit">EDIT</button></a></td>
        </tr>
        {% endfor %}
      {% else }
        <h4>No Result Found !!</h4>
      {% endif %}       
    </table> 
    <a href="Return to Tasklist"></a>
</body>
</html>